.rates {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.rates-header {
  font-size: 36px;
  text-align: center;
}

.rates-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #F3F4F5;
  margin-top: 5px;
  background-image: radial-gradient(circle at 0% 125%, #05d2f5 0%, #0d6fcd 50%);
  border-radius: 3px;
}

.rates-item-container {
  padding: 0px 10px;
  padding-bottom: 10px;
}

.rates-to {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rates-add-new {
  background: #E91E8C;
  font-size: 24px;
  color: #FFFFFF;
  margin: 10px auto;
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.rates-cancel {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 3px;
}
