.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.currency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  background: #0d6fcd;
  border-radius: 2px;
  margin-bottom: 1px;
  cursor: pointer;
}

.search-cancel {
  align-self: center;
  background: #E91E8C;
  font-size: 24px;
  color: #FFFFFF;
  margin: 10px auto;
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.search-item-container {
  padding: 0px 10px;
  padding-bottom: 10px;
}

.search-input {
  font-size: 24px;
  border: none;
  text-align: right;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 5px;
}

.search-form {
  margin: 0 auto;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-header {
  margin: 5px auto;
  font-size: 36px;
}
