.exchange-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.exchange-left, .exchange-right {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: right;
  font-size: 26px;
}

.exchange-left {
  text-align: left;
  width: 200px;
}

.exchange-right {
  width: 200px;
  cursor: pointer;
}

.exchange-dropdown {
  align-self: center;
  padding: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  margin-bottom: 5px;
}

.exchange-dropdown > *:last-child {
  border-left: 1px solid white;
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
}

.exchange-balance {
  font-size: 16px;
}


.exchange-dropdown > span > span:last-child {
  font-size: 13px;
  align-self: flex-end;
}

.exchange-top, .exchange-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.exchange-top {
  background-image: radial-gradient(circle at 0% 125%, #05d2f5 0%, #0d6fcd 100%);
}

.exchange-bottom {
  background-image: radial-gradient(circle at 60% 125%, #05d2f5 0%, #0d6fcd 100%);
}

.exchange-menu {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.exchange-input {
  font-size: 24px;
  border: none;
  text-align: right;
  background-color: inherit;
  color: white;
}

.exchange-input:focus {
  outline: none;
}

.exchange-button {
  background: #E91E8C;
  font-size: 24px;
  color: #FFFFFF;
  margin: 10px auto;
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  text-align: center;
  cursor: pointer;
}

.exchange-button:disabled {
  background: lightgrey;
}

.exchange-change-currency {
  cursor: pointer;
}
